//define animation type
@mixin animationType($arg...) {
  -webkit-animation: $arg;
  -moz-animation: $arg;
  -ms-animation: $arg;
  -o-animation: $arg;
  animation: $arg;
}

//define keyframes
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @-ms-keyframes #{$animation-name} {
    @content;
  }

  @-o-keyframes #{$animation-name} {
    @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}

//transform
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

// rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

// translate
@mixin translate($x, $y, $z) {
  @include transform(translate($x, $y, $z));
}

// translateZ
@mixin translateZ($z) {
  @include translate(0, 0, $z);
}

// common path
@mixin common {
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999em;
  position: relative;
}